[submodule "docs/metis"]
	path = docs/metis
	url = https://github.com/Wholiver/metis.git
[submodule "docs/omp"]
	path = docs/omp
	url = https://github.com/can1357/oh-my-pi.git
[submodule "docs/skills-manager"]
	path = docs/skills-manager
	url = https://github.com/xingkongliang/skills-manager
[submodule "docs/open-design"]
	path = docs/open-design
	url = https://github.com/nexu-io/open-design.git
[submodule "docs/context-mode"]
	path = docs/context-mode
	url = https://github.com/mksglu/context-mode.git
[submodule "docs/ponytail"]
	path = docs/ponytail
	url = https://github.com/DietrichGebert/ponytail.git
[submodule "docs/beads"]
	path = docs/beads
	url = https://github.com/gastownhall/beads
